<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <servlet-class>controller.ViewMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentor</servlet-name>
        <servlet-class>controller.ViewAllMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentor</servlet-name>
        <servlet-class>controller.SearchMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccount</servlet-name>
        <servlet-class>controller.ViewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorDetail</servlet-name>
        <servlet-class>controller.ViewMentorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <servlet-class>controller.ViewTop3Mentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorInformation</servlet-name>
        <servlet-class>controller.ViewMentorInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccount</servlet-name>
        <servlet-class>controller.SearchAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminAccount</servlet-name>
        <servlet-class>controller.CreateAdminAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHireRequest</servlet-name>
        <servlet-class>controller.CreateHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequest</servlet-name>
        <servlet-class>controller.CreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllHireRequest</servlet-name>
        <servlet-class>controller.ViewAllHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHireRequest</servlet-name>
        <servlet-class>controller.SearchHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAnswer</servlet-name>
        <servlet-class>controller.CreateAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllRequest</servlet-name>
        <servlet-class>controller.ViewAllRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHireRequest</servlet-name>
        <servlet-class>controller.EditHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedback</servlet-name>
        <servlet-class>controller.CreateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedback</servlet-name>
        <servlet-class>controller.EditFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAnswer</servlet-name>
        <servlet-class>controller.ViewDetailAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnswer</servlet-name>
        <servlet-class>controller.UpdateAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestDetail</servlet-name>
        <servlet-class>controller.ViewRequestDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMenteeProfile</servlet-name>
        <servlet-class>controller.EditMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequest</servlet-name>
        <servlet-class>controller.SearchRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentee</servlet-name>
        <servlet-class>controller.ViewAllMentee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentee</servlet-name>
        <servlet-class>controller.SearchMentee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPost</servlet-name>
        <servlet-class>controller.ViewAllPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostDetail</servlet-name>
        <servlet-class>controller.ViewPostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePost</servlet-name>
        <servlet-class>controller.LikePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateComment</servlet-name>
        <servlet-class>controller.CreateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>controller.CreatePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <url-pattern>/ViewMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentor</servlet-name>
        <url-pattern>/ViewAllMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentor</servlet-name>
        <url-pattern>/SearchMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccount</servlet-name>
        <url-pattern>/ViewAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorDetail</servlet-name>
        <url-pattern>/ViewMentorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <url-pattern>/ViewTop3Mentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorInformation</servlet-name>
        <url-pattern>/ViewMentorInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccount</servlet-name>
        <url-pattern>/SearchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminAccount</servlet-name>
        <url-pattern>/CreateAdminAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHireRequest</servlet-name>
        <url-pattern>/CreateHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequest</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllHireRequest</servlet-name>
        <url-pattern>/ViewAllHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHireRequest</servlet-name>
        <url-pattern>/SearchHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAnswer</servlet-name>
        <url-pattern>/CreateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllRequest</servlet-name>
        <url-pattern>/ViewAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHireRequest</servlet-name>
        <url-pattern>/EditHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedback</servlet-name>
        <url-pattern>/CreateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedback</servlet-name>
        <url-pattern>/EditFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAnswer</servlet-name>
        <url-pattern>/ViewDetailAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnswer</servlet-name>
        <url-pattern>/UpdateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestDetail</servlet-name>
        <url-pattern>/ViewRequestDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMenteeProfile</servlet-name>
        <url-pattern>/EditMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequest</servlet-name>
        <url-pattern>/SearchRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentee</servlet-name>
        <url-pattern>/ViewAllMentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentee</servlet-name>
        <url-pattern>/SearchMentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPost</servlet-name>
        <url-pattern>/ViewAllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostDetail</servlet-name>
        <url-pattern>/ViewPostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePost</servlet-name>
        <url-pattern>/LikePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateComment</servlet-name>
        <url-pattern>/CreateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ViewTop3Mentor</welcome-file>
    </welcome-file-list>
</web-app>
