<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <servlet-class>controller.ViewMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentor</servlet-name>
        <servlet-class>controller.ViewAllMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentor</servlet-name>
        <servlet-class>controller.SearchMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccount</servlet-name>
        <servlet-class>controller.ViewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorDetail</servlet-name>
        <servlet-class>controller.ViewMentorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <servlet-class>controller.ViewTop3Mentor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <url-pattern>/ViewMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentor</servlet-name>
        <url-pattern>/ViewAllMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentor</servlet-name>
        <url-pattern>/SearchMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccount</servlet-name>
        <url-pattern>/ViewAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorDetail</servlet-name>
        <url-pattern>/ViewMentorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <url-pattern>/ViewTop3Mentor</url-pattern>
    </servlet-mapping>
     <welcome-file-list>
        <welcome-file>ViewTop3Mentor</welcome-file>
    </welcome-file-list>
</web-app>
