<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <servlet-class>controller.ViewMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentor</servlet-name>
        <servlet-class>controller.ViewAllMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentor</servlet-name>
        <servlet-class>controller.SearchMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccount</servlet-name>
        <servlet-class>controller.ViewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorDetail</servlet-name>
        <servlet-class>controller.ViewMentorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <servlet-class>controller.ViewTop3Mentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorInformation</servlet-name>
        <servlet-class>controller.ViewMentorInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccount</servlet-name>
        <servlet-class>controller.SearchAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminAccount</servlet-name>
        <servlet-class>controller.CreateAdminAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHireRequest</servlet-name>
        <servlet-class>controller.CreateHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequest</servlet-name>
        <servlet-class>controller.CreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllHireRequest</servlet-name>
        <servlet-class>controller.ViewAllHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHireRequest</servlet-name>
        <servlet-class>controller.SearchHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAnswer</servlet-name>
        <servlet-class>controller.CreateAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllRequest</servlet-name>
        <servlet-class>controller.ViewAllRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHireRequest</servlet-name>
        <servlet-class>controller.EditHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedback</servlet-name>
        <servlet-class>controller.CreateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedback</servlet-name>
        <servlet-class>controller.EditFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAnswer</servlet-name>
        <servlet-class>controller.ViewDetailAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnswer</servlet-name>
        <servlet-class>controller.UpdateAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestDetail</servlet-name>
        <servlet-class>controller.ViewRequestDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMenteeProfile</servlet-name>
        <servlet-class>controller.EditMenteeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequest</servlet-name>
        <servlet-class>controller.SearchRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentee</servlet-name>
        <servlet-class>controller.ViewAllMentee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentee</servlet-name>
        <servlet-class>controller.SearchMentee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorProfile</servlet-name>
        <servlet-class>controller.ViewMentorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMentorProfile</servlet-name>
        <servlet-class>controller.EditMentorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPost</servlet-name>
        <servlet-class>controller.ViewAllPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostDetail</servlet-name>
        <servlet-class>controller.ViewPostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePost</servlet-name>
        <servlet-class>controller.LikePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateComment</servlet-name>
        <servlet-class>controller.CreateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>controller.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>controller.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPost</servlet-name>
        <servlet-class>controller.SearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeDetailController</servlet-name>
        <servlet-class>controller.MenteeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRegisterMentorRequest</servlet-name>
        <servlet-class>controller.ViewRegisterMentorRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMentorController</servlet-name>
        <servlet-class>controller.ApproveMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHireRequestStatus</servlet-name>
        <servlet-class>controller.UpdateHireRequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorHireRequest</servlet-name>
        <servlet-class>controller.ViewMentorHireRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobManager</servlet-name>
        <servlet-class>controller.JobManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorAnalytics</servlet-name>
        <servlet-class>controller.MentorAnalytics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailsController</servlet-name>
        <servlet-class>controller.FeedbackDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPost</servlet-name>
        <servlet-class>controller.MyPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedPost</servlet-name>
        <servlet-class>controller.SavedPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePost</servlet-name>
        <servlet-class>controller.SavePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMenteeProfile</servlet-name>
        <url-pattern>/ViewMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentor</servlet-name>
        <url-pattern>/ViewAllMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentor</servlet-name>
        <url-pattern>/SearchMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccount</servlet-name>
        <url-pattern>/ViewAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorDetail</servlet-name>
        <url-pattern>/ViewMentorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <url-pattern>/ViewTop3Mentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorInformation</servlet-name>
        <url-pattern>/ViewMentorInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccount</servlet-name>
        <url-pattern>/SearchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminAccount</servlet-name>
        <url-pattern>/CreateAdminAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHireRequest</servlet-name>
        <url-pattern>/CreateHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequest</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllHireRequest</servlet-name>
        <url-pattern>/ViewAllHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHireRequest</servlet-name>
        <url-pattern>/SearchHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAnswer</servlet-name>
        <url-pattern>/CreateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllRequest</servlet-name>
        <url-pattern>/ViewAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHireRequest</servlet-name>
        <url-pattern>/EditHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedback</servlet-name>
        <url-pattern>/CreateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedback</servlet-name>
        <url-pattern>/EditFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAnswer</servlet-name>
        <url-pattern>/ViewDetailAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnswer</servlet-name>
        <url-pattern>/UpdateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestDetail</servlet-name>
        <url-pattern>/ViewRequestDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMenteeProfile</servlet-name>
        <url-pattern>/EditMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequest</servlet-name>
        <url-pattern>/SearchRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentee</servlet-name>
        <url-pattern>/ViewAllMentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentee</servlet-name>
        <url-pattern>/SearchMentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorProfile</servlet-name>
        <url-pattern>/ViewMentorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMentorProfile</servlet-name>
        <url-pattern>/EditMentorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPost</servlet-name>
        <url-pattern>/ViewAllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostDetail</servlet-name>
        <url-pattern>/ViewPostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePost</servlet-name>
        <url-pattern>/LikePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateComment</servlet-name>
        <url-pattern>/CreateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPost</servlet-name>
        <url-pattern>/SearchPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeDetailController</servlet-name>
        <url-pattern>/MenteeDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRegisterMentorRequest</servlet-name>
        <url-pattern>/ViewRegisterMentorRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMentorController</servlet-name>
        <url-pattern>/ApproveMentorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHireRequestStatus</servlet-name>
        <url-pattern>/UpdateHireRequestStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorHireRequest</servlet-name>
        <url-pattern>/ViewMentorHireRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobManager</servlet-name>
        <url-pattern>/JobManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorAnalytics</servlet-name>
        <url-pattern>/MentorAnalytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorAnalytics</servlet-name>
        <url-pattern>/mentor-analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailsController</servlet-name>
        <url-pattern>/FeedbackDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailsController</servlet-name>
        <url-pattern>/feedback-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPost</servlet-name>
        <url-pattern>/MyPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedPost</servlet-name>
        <url-pattern>/SavedPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePost</servlet-name>
        <url-pattern>/SavePost</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ViewTop3Mentor</welcome-file>
    </welcome-file-list>
</web-app>
